@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: bold;
    src: url("/assets/fonts/iranyekanwebbold.ttf");
   
}
@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 100;
    src: url("/assets/fonts/iranyekanwebthin.ttf");
   
}
@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 300;
    src: url("/assets/fonts/iranyekanweblight.ttf");
   
}
@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: normal;
    src: url("/assets/fonts/iranyekanwebregular.ttf");
   
}
@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 500;
    src: url("/assets/fonts/iranyekanwebmedium.ttf");
   
}
@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 800;
    src: url("/assets/fonts/iranyekanwebextrabold.ttf");
   
}
@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 850;
    src: url("/assets/fonts/iranyekanwebblack.ttf");
   
}
@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 900;
    src: url("/assets/fonts/iranyekanwebextrablack.ttf");
   
}